<%= form_with(model: User.new, local: true, class: 'form-inline my-2 my-lg-0') do |form| %>
  <%= form.text_field :email, class: 'form-control mr-sm-2', placeholder: 'Email'  %>
  <%= form.password_field :password,  class: 'form-control mr-sm-2', placeholder: 'Password' %>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login/Register</button>
<% end %>