<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
       <%= fa_icon "home", text: 'Funny Movies' %>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <% if current_user.nil? %>
        <%= render partial: 'partials/form' %>
      <% else %>
        <%= render partial: 'partials/logged_in' %>
      <% end %>
     
    </div>
  </nav>
